# Tree Methods Dog Food Company Project Using Random Forest.

You've been hired by a dog food company to try to predict why some batches of their dog food are spoiling much quicker than intended! Unfortunately this Dog Food company hasn't upgraded to the latest machinery, meaning that the amounts of the five preservative chemicals they are using can vary a lot, but which is the chemical that has the strongest effect? The dog food company first mixes up a batch of preservative that contains 4 different preservative chemicals (A,B,C,D) and then is completed with a "filler" chemical. The food scientists beelive one of the A,B,C, or D preservatives is causing the problem, but need your help to figure out which one!
Use Machine Learning with RF to find out which parameter had the most predicitive power, thus finding out which chemical causes the early spoiling! So create a model and then find out how you can decide which chemical is the problem!

* Pres_A : Percentage of preservative A in the mix
* Pres_B : Percentage of preservative B in the mix
* Pres_C : Percentage of preservative C in the mix
* Pres_D : Percentage of preservative D in the mix
* Spoiled: Label indicating whether or not the dog food batch was spoiled.

# Good Luck!

In [2]:
import findspark
findspark.init("/home/ratzz/spark-2.4.4-bin-hadoop2.7")
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("rf").getOrCreate()

In [3]:
df = spark.read.csv("dog_food.csv",inferSchema=True,header=True)

In [4]:
df.toPandas().describe()

                A           B           C           D     Spoiled
count  490.000000  490.000000  490.000000  490.000000  490.000000
mean     5.534694    5.504082    9.126531    5.579592    0.285714
std      2.951520    2.853797    2.055545    2.854837    0.452216
min      1.000000    1.000000    5.000000    1.000000    0.000000
25%      3.000000    3.000000    8.000000    3.000000    0.000000
50%      5.000000    6.000000    9.000000    6.000000    0.000000
75%      8.000000    8.000000   11.000000    8.000000    1.000000
max     10.000000   10.000000   14.000000   10.000000    1.000000

In [5]:
df.toPandas().head()

   A  B     C  D  Spoiled
0  4  2  12.0  3      1.0
1  5  6  12.0  7      1.0
2  6  2  13.0  6      1.0
3  4  2  12.0  1      1.0
4  4  2  12.0  3      1.0

In [6]:
from pyspark.ml.feature import (VectorAssembler)

In [7]:
from pyspark.ml.classification import RandomForestClassifier

In [8]:
df.columns

['A', 'B', 'C', 'D', 'Spoiled']

In [9]:
assembler =VectorAssembler(inputCols=['A', 'B', 'C', 'D'],outputCol="features")

In [10]:
algo_rfc = RandomForestClassifier(labelCol='Spoiled')

In [11]:
from pyspark.ml.pipeline import Pipeline

In [12]:
pipeline = Pipeline(stages=[assembler,algo_rfc])

In [29]:
rf_mod = pipeline.fit(df)

In [31]:
rf_mod.stages[1].featureImportances

SparseVector(4, {0: 0.024, 1: 0.0214, 2: 0.9391, 3: 0.0154})

## The Chemical C is Spoiling the Dog food
# Made by Ratnakar Maurya